/* Form Container */
form {
  margin-bottom: 20px;
  justify-content: center;
}

/* Buttons */
.button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 5px;
}

.button.submit {
  background-color: #6d4c41; /* Coffee brown */
  color: white;
}

.button.submit:hover {
  background-color: #5d4037;
}

.button.new-drink {
  background-color: #8d6e63; /* Lighter brown */
  color: white;
}

.button.new-drink:hover {
  background-color: #795548;
}