/* src/index.css */

/* Reset/normalize */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #f9f9f9;
  color: #333;
  background: url("https://www.pngkey.com/png/detail/18-182029_open-pokeball-png-pokemon-ball-open-png.png") no-repeat center center fixed;
  background-size: contain;
  background-color: #ead872;
}

/* Make the overall app take full screen, center items */
#root {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Optional styling for the main container inside App */
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
